<button mat-button [matMenuTriggerFor]="afterMenu">After</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
<div class="contenerdor-menu">
  <ul class="menu">
    <li><a href="#"><i class="icono izquierda material-icons md-18">home</i>Inicio</a></li>
    <li>
      <a href="#">
        <i class="icono izquierda material-icons md-18">stars</i>
        Producto
        <i class="icono derecha material-icons">keyboard_arrow_down</i>
      </a>
      <ul>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="icono izquierda material-icons md-18">group</i>
        Redes sociales
        <i class="icono derecha material-icons">keyboard_arrow_down</i>
      </a>
      <ul>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
      </ul>
    </li>
    <li><a href="#"><i class="icono izquierda material-icons md-18">local_phone</i>Nosotros</a></li>
  </ul>
</div>